@model IdentityManagement.Models.ViewModel.LoginVm;

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
<h1 class="text-info">Login</h1>
<form method="post" asp-action="Login" asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]" role="form">

    <h4>Use a local account to  log in. </h4>
    <hr />
   @* <div asp-validation-summary="All" class="text-danger"></div>*@
    <div class="form-group">
        <label asp-for="Email" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class=" col-md-10">
            <div class="custom-checkbox">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe"/>
                    @Html.DisplayNameFor(m=>m.RememberMe)
                </label>
                   
            </div>
        </div>
        
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </div>
    <p>
        <a asp-action="Register"> Register as a new User</a>
    </p>
    <p>
        <a asp-action="ForgotPassword"> Forgot your Password? </a>
    </p>
</form>
@{
    var schemes = await signInManager.GetExternalAuthenticationSchemesAsync();
    var LoginProviders = schemes.ToList();

}
@if (LoginProviders.Count() > 0)
{
    <div class="col-md-4">
        <section>
            <h4>
                User Another Services to Log in.
            </h4>
            <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@ViewData["returnurl"]" method="post" role="form">
                <div>
                    <p>
                        @foreach(var item in LoginProviders)
                        {
                            <button type="submit" class="btn btn-primary" name="provider" value="@item.Name" title="log in using your @item.Name account">@item.Name</button>
                            
                        }
                    </p>
                </div>
            </form>
        </section>
    </div>
    
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}